.section-value
	@apply py-5 lg:py-10 xl:py-15

.intro-btns
	@apply flex flex-wrap gap-4
	
	li
		@apply flex-1 min-w-0 basis-[calc(50%-0.5rem)] bg-white flex flex-col pt-7 pb-12 gap-1 w-full px-5 shrink-0 rounded-6 transition-all duration-500 
		box-shadow: 0 0 0 0px transparent 
		
		&:hover
			@apply bg-Primary/3
			box-shadow: 0 0 0 8px #88d1c2
			
			img
				filter: brightness(0) invert(1)
			
			div
				@apply text-Utility/white

		img
			@apply h-24 py-8 transition-all duration-300

		div
			@apply text-Utility/gray-950-maintext rem:text-[16px] font-semibold text-center transition-colors duration-300

	@media (min-width: 768px)
		li
			@apply basis-[calc(33.333%-0.75rem)]
	@media (min-width: 1200px)
		li
			@apply basis-[calc(20%-0.75rem)]